<div id="float-toc">
    <nav role="navigation" class="table-of-contents">
        {% unless include.excludeHierarchy == true %}
            <span style="font-size: 10px;position: absolute;top: 10px;right: 15px;">[Click arrows to toggle]</span>
            <h3>Table of Contents:</h3>
            {% assign allHtml = "<h1>" | append: include.title | append: "</h1>" | append: content %}
            {% include toc.html html=allHtml %}
        {% endunless %}

        <a href="#">
            <span class="icon grey svg20">
                {% include entypo/arrow-up.svg %}
            </span>

            Jump to top of page
        </a>
    </nav>
</div>