---
title:  Joel's Work Portfolio
show_skills: true
narrow: false
permalink: /portfolio
---

<div class="d-md-block d-lg-none mb-3">
    {% include components/all-skills.html %}
</div>

<div id="currently-showing">
    <h2 class="d-flex align-items-center mb-3">
        <span class="text-secondary mr-2">Showing everything matching:</span>
        <span class="border rounded p-2 mr-2 bg-light text-secondary" id="active-skill"></span>
        <a class="btn btn-primary btn-small" href="javascript:void(0)" onclick="clearSkills()">clear</a>
    </h2>
</div>


<p>I specialise in PHP7+, HTML, CSS/SASS, and Javascript website development as a Full Stack Software Developer. What makes me stand out compared to other developers is that I don’t just make websites, I have an understanding of the tooling, frameworks, and technologies that power them. Front-end tools such as <a href="https://gulpjs.com/" target="_blank">Gulp</a>, <a href="https://bower.io/" target="_blank">Bower</a>, and <a href="https://webpack.js.org/" target="_blank">Webpack</a> are second nature to me, as is developing highly tested backend code to interact with open source and commercial databases.</p>
<p>I have built and managed content heavy CMS’s, Social Networks, e-commence stores, and Blogs in the past. Here are some examples of websites that I’ve worked on individually, or in a team that are still live as of 2018:</p>
<hr>

{% assign sorted = site.portfolio | reverse %}

{% for portfolio in sorted %}
    {% include components/portfolio-card.html %}
{% endfor %}

{% include toc-scroll-to-top.html excludeHierarchy=true %}

<script >

    var parseHash;
    parseHash = function () {
        if (document.location.hash.length > 0) {
            var tag = document.location.hash.slice(1);
            var name = $(".tag-" + tag).first().text();
            showPostByTag(tag, name);
        }
        else {
            clearTags();
        }
    };

    $(document).ready(parseHash);
    $(window).on('hashchange', parseHash);

    var showPostByTag = function(tag, name) {
        $("#currently-showing").show();
        $(".card-post").hide();
        $(".tag").removeClass("selected")
            .addClass("bg-white")
            .removeClass("text-dark");
        $(".card-post").each(function(idx, card) {
            var matches = $(card).find(".tag-" + tag);
            if (matches.length > 0) $(card).show()
        });
        $(".tag-" + tag).removeClass("bg-white")
            .addClass("selected")
            .addClass("text-dark")
            .blur();
        $("#active-tag").html(name);
    };

    var clearTags = function() {
        $("#currently-showing").hide();
        $(".card-post").show();
        $(".tag").removeClass("selected")
            .addClass("bg-white")
            .removeClass("text-dark");
        document.location.hash = "";
    }

</script>


