---
layout: default
postType: Blog Post
---

<h1 class="list-title border border-left-0 border-right-0 py-2">
    {{ page.title }}

    <button class="btn btn-sm btn-primary hidden-xs hidden-md" id="expand-view">
        <span class="icon grey">
            {% include entypo/resize-full-screen.svg %}
        </span>
    </button>
</h1>

{% include social-share-bar.html postType=layout.postType %}

<hr>

{{ content }}

{% include components/post-meta.html %}

{% if page.excludeHierarchy == true %}
    {% include toc-scroll-to-top.html excludeHierarchy=true %}
{% else %}
    {% include toc-scroll-to-top.html title=page.title %}
{% endif %}

<hr>

{% include social-share-bar.html postType=layout.postType %}

<hr>

<h4 style="color:#dd4b39;font-weight:500;">Share your thoughts on: '{{ page.title }}':</h4>

{% include disqus-comments.html %}

<div class="PageNavigation">
    {% if page.previous.url %}
    <a class="prev" href="{{page.previous.url}}">&laquo; {{page.previous.title}}</a>
    {% endif %}
    {% if page.next.url %}
    <a class="next" href="{{page.next.url}}">{{page.next.title}} &raquo;</a>
    {% endif %}
</div>