---
layout: default
postType: Blog Post
---

<h1 class="list-title border border-left-0 border-right-0 py-2">
    {{ page.title }}

    <button class="btn btn-sm btn-primary hidden-xs hidden-md" id="expand-view">
        <span class="icon grey">
            {% include entypo/resize-full-screen.svg %}
        </span>
    </button>
</h1>

<div class="d-md-block d-lg-none">
    {% include components/post-meta.html %}
</div>

{% include social-share-bar.html postType=layout.postType %}

<hr>

{{ content }}

{% include toc-scroll-to-top.html title=page.title %}

<hr>

{% include social-share-bar.html postType=layout.postType %}

<hr>

<h4 style="color:red;">Share your thoughts on: '{{ page.title }}':</h4>

<div id="disqus_thread"></div>
<script>
    /*
    var disqus_config = function () {
    this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
    this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
    /*
     */
    (function() { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        s.src = '//joel-murphy-co-uk.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
</script>

