---
layout: default
---

<div class="border border-top-0 border-right-0 border-left-0 mb-4 pb-2">
    <h1 style="display:inline-flex;">
        {% if page.title %}
        {{ page.title }}
        {% else %}
        {{ site.name }} 😍
        {% endif %}
    </h1>

    <button class="btn btn-primary hidden-xs hidden-md" id="expand-view">
    <span class="icon grey mr-2">
        {% include entypo/resize-full-screen.svg %}
    </span>
        <span class="button-text">Expand</span>
    </button>
</div>

{{ content }}


<script>
    $(document).ready(function() {
        var expandViewToggled = false;
        $("#expand-view").click(function () {

            if (!expandViewToggled) {
                $("#side").attr('style', 'display:none !important');
                $("#content").addClass('col-xs-12 col-md-12 col-lg-12 col-xl-12');
                expandViewToggled = true;
                $($(this).children(".button-text")[0]).text("Shrink");
            } else {
                $("#side").removeAttr('style');
                $("#content").removeClass('col-xs-12 col-md-12 col-lg-12 col-xl-12');
                expandViewToggled = false;
                $($(this).children(".button-text")[0]).text("Expand");
            }
        });
    });
</script>