---
layout: default
postType: Portfolio Item
---

<h1 class="border border-top-0 border-right-0 border-left-0 mb-3 pb-2">{{ page.title }}</h1>

{% include nav-breadcrumbs.html %}

<hr>

{% include social-share-bar.html postType=layout.postType %}

<hr>

<div class="d-md-block d-lg-none">
    {% include components/portfolio-meta.html %}
</div>

{{ content }}

{% include toc-scroll-to-top.html title=page.title %}

<hr>

{% include social-share-bar.html postType=layout.postType %}

<hr>

{% include back-to-portfolio.html %}