---
layout: default
postType: Portfolio Item
---

<div class="d-flex align-items-center border border-left-0 border-right-0 py-2 mb-3">
    <div style="flex:1;flex-basis: 80%;">
        <h1 class="list-title">
            {{ page.title }}
        </h1>
    </div>

    <div style="flex:1;">
        <button class="btn btn-sm btn-primary hidden-xs hidden-md" id="expand-view">
        <span class="icon">
            {% include entypo/resize-full-screen.svg %}
        </span>
        </button>
    </div>
</div>

{% include nav-breadcrumbs.html %}

<hr>

{{ content }}

{% include components/portfolio-meta.html %}

{% include toc-scroll-to-top.html title=page.title %}

<hr>

{% include social-share-bar.html postType=layout.postType %}

<hr>

{% include back-to-portfolio.html %}