---
layout: default
postType: Portfolio Item
---

<h1 class="border border-top-0 border-right-0 border-left-0 mb-3 pb-2">{{ page.title }}</h1>

{% include nav-breadcrumbs.html %}

<hr>

{% include social-share-bar.html postType=layout.postType %}

<hr>

<div class="d-md-block d-lg-none">
    {% include components/portfolio-meta.html %}
</div>

{{ content }}

<script>
    var target = $('#float-toc');

    $(document).scroll(function(e){
        var scrollPercent = 100 * $(window).scrollTop() / ($(document).height() - $(window).height());
        var opcaityPercent = (scrollPercent / 100).toFixed(2);
        if(scrollPercent >= 0){
            target.css('opacity', opcaityPercent);
        }
    });
</script>
<div id="float-toc" style="display: block;">
    <nav role="navigation" class="table-of-contents">
        <h3>On this Page</h3>
        {% assign allHtml = "<h1>This is a test</h1>" | append: content %}
        {% include toc.html html=allHtml %}
        <a href="#">
            <span class="icon grey svg20">
                {% include entypo/arrow-up.svg %}
            </span>
            Back to top of page
        </a>
    </nav>
</div>

<hr>

{% include social-share-bar.html postType=layout.postType %}

<hr>

{% include back-to-portfolio.html %}