---
layout: default
---

<h1 class="border border-top-0 border-right-0 border-left-0 mb-3 pb-2">{{ page.title }}</h1>

<div class="d-md-block d-lg-none">
    {% include components/post-meta.html %}
</div>

{% include social-share-bar.html %}

<hr>

{{ content }}

<hr>

{% include social-share-bar.html %}

<hr>

<h4>Share your thoughts on: '{{ page.title }}':</h4>

<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v3.3"></script>

<div class="fb-comments" data-href="{{ site.url }}{{ site.baseurl }}{{ page.url }}" data-width="100%" data-numposts="10"></div>