---
layout: default
---

<h1 class="border border-top-0 border-right-0 border-left-0 mb-3 pb-2">
    {{ page.title }}
</h1>

<div class="d-md-block d-lg-none">
    {% include components/project-meta.html %}
</div>

<script type="text/javascript" src="{{ site.baseurl }}/static/js/jquery.vmap.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/static/js/maps/jquery.vmap.world.js" charset="utf-8"></script>
<link rel="stylesheet" href="{{ site.baseurl }}/static/css/jqvmap.min.css"/>
<style>
#vmap .jqvmap-zoomin,#vmap .jqvmap-zoomout{
    width: 17px;
    height: 17px;
}
</style>
<script>
    jQuery(document).ready(function() {
        jQuery('#vmap').vectorMap({ map: 'world_en' });
    });
</script>

{{ content }}