---
layout: default
postType: TravelPost
---

<div class="d-flex align-items-center border border-left-0 border-right-0 py-2 mb-3">
    <div style="flex:1;flex-basis: 80%;">
        <h1 class="list-title">
            {{ page.title }}
        </h1>
    </div>

    <div style="flex:1;">
        <button class="btn btn-sm btn-primary hidden-xs hidden-md" id="expand-view">
        <span class="icon">
            {% include entypo/resize-full-screen.svg %}
        </span>
        </button>
    </div>
</div>

{% include nav-breadcrumbs.html %}

<script  src="{{ site.baseurl }}/static/js/jquery.vmap.js"></script>
<script  src="{{ site.baseurl }}/static/js/maps/jquery.vmap.world.js"></script>
<link rel="stylesheet" href="{{ site.baseurl }}/static/css/jqvmap.min.css"/>
<style>
    #vmap .jqvmap-zoomin, #vmap .jqvmap-zoomout {
        width: 17px;
        height: 17px;
    }
</style>
<script>
    jQuery(document).ready(function () {
        jQuery('#vmap').vectorMap({
            map: 'world_en',
            backgroundColor: '#00A8DD',
            selectedRegions: ['AT', 'BE', 'DE'],
            showTooltip: true,
            onRegionClick: function(element, code, region)
            {
                var message = 'You clicked "'
                    + region
                    + '" which has the code: '
                    + code.toUpperCase();

                alert(message);
            }
        });
    });
</script>

{{ content }}

{% include toc-scroll-to-top.html title=page.title %}

<hr>

{% include social-share-bar.html postType=layout.postType %}

<hr>

{% include post-pagination.html postType=layout.postType %}

<hr>

<h4 style="color:#dd4b39;font-weight:500;">Share your thoughts on: '{{ page.title }}':</h4>
{% include disqus-comments.html %}