<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Joel Murphy">

    <link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}/static/favicon/apple-touch-icon.png"/>
    <link rel="icon" type="image/png" sizes="32x32" href="{{ site.baseurl }}/static/favicon/favicon-32x32.png"/>
    <link rel="icon" type="image/png" sizes="194x194" href="{{ site.baseurl }}/static/favicon/favicon-194x194.png"/>
    <link rel="icon" type="image/png" sizes="192x192" href="{{ site.baseurl }}/static/favicon/android-chrome-192x192.png"/>
    <link rel="icon" type="image/png" sizes="16x16" href="{{ site.baseurl }}/static/favicon/favicon-16x16.png"/>
    <link rel="manifest" href="{{ site.baseurl }}/site.webmanifest"/>
    <link rel="mask-icon" href="{{ site.baseurl }}/static/favicon/safari-pinned-tab.svg" color="#656565"/>
    <meta name="apple-mobile-web-app-title" content="Joel Murphy"/>
    <meta name="application-name" content="Joel Murphy"/>
    <meta name="msapplication-TileColor" content="#2b5797"/>
    <meta name="msapplication-TileImage" content="{{ site.baseurl }}/static/favicon/mstile-144x144.png"/>
    <meta name="theme-color" content="#ffffff"/>

    <link rel="sitemap" type="application/xml" title="Sitemap" href="/sitemap.xml" />

    <title>
        {% if page.title %}
            {{ page.title }} &middot; {{ site.title }}
        {% else %}
            😍 {{ site.title }} 😍
        {% endif %}
    </title>

    <script src="{{ site.baseurl }}/theme/js/jquery-3.2.1.min.js"></script>
    <script src="{{ site.baseurl }}/theme/js/popper.min.js"></script>
    <script src="{{ site.baseurl }}/theme/js/bootstrap.min.js"></script>
    <script src="/static/js/jquery.lazy.min.js"></script>

    <script src="{{ site.baseurl }}/theme/js/lazyLoad.js"></script>
    <script src="{{ site.baseurl }}/theme/js/theme.js"></script>
    <script src="{{ site.baseurl }}/theme/js/fullWidthPosts.js"></script>
    <script src="{{ site.baseurl }}/theme/js/clickToggle.js"></script>
    <script src="{{ site.baseurl }}/theme/js/footerToggle.js"></script>
    <script src="{{ site.baseurl }}/theme/js/listAccordion.js"></script>

    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-9259836823539954",
            enable_page_level_ads: true,
        });
    </script>

    <link rel="stylesheet" href="{{ site.baseurl }}/theme/css/bootstrap.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/theme/css/site.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/theme/css/syntax.css">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC%7CVarela+Round" rel="stylesheet">

    {% include og.html %}
</head>
