---
---

body {
    background: url("../../static/img/subtle_dots_@2X.png");
    font-weight: 400;
}

.profile-image {
    border: 5px solid rgba(0, 0, 0, 0.2);
}

.site-container {
    padding-top: 80px;
    padding-bottom: 20px;
}

.icon {
    height: 21px;
    width: 21px;
}

.icon.grey svg path {
    fill: #999;
}

.icon.pin svg path {
    fill: #c03144;
}

.icon.red svg path {
    fill: #A00;
}

.list-title {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 25px;
}

.navbar-toggler:focus {
    outline: none;
}

.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.navbar-toggler.collapsed {
    background-color: transparent;
}

h2[id]::before {
    display: block;
    height: 80px;
    margin-top: -80px;
    visibility: hidden;
    content: "";
}

.sticky-top.space-before {
    padding-top: 80px;
    margin-top: -80px;
}

.navbar-brand {
    font-family: 'Varela Round', sans-serif;
}

.content {
    font-size: 1rem !important;
}

.content a:hover {
    text-decoration: none !important;
    border-bottom: 1px dashed #777 !important;
    color: red;
}

.card-body a:hover {
    color: red;
    text-decoration: none !important;
}

.card-body a span.hover-underline-dashed {
    border-bottom: 1px dashed #f8f9fa;
}

.card-body a:hover span.hover-underline-dashed {
    border-bottom: 1px dashed #777 !important;
}

.navbar-nav li a:hover {
    background: #80808026;
}

.year-heading {
    border-left: 5px solid orange;
}

@import url("https://fonts.googleapis.com/css?family=Open+Sans:400italic");
blockquote {
    font-family: Open Sans, sans-serif;
    font-style: italic;
    color: #555555;
    padding: 1em 45px;
    border-left: 8px solid #78C0A8;
    line-height: 1.6;
    position: relative;
    background: #EDEDED;
    font-size: 18px;
}

blockquote::before {
    font-family: Arial;
    content: "\201C";
    color: orange;
    font-size: 4em;
    position: absolute;
    left: 10px;
    top: -10px;
}

blockquote::after {
    font-family: Arial;
    content: "\201D";
    color: orange;
    font-size: 4em;
    position: absolute;
    right: 20px;
    bottom: -45px;
}

blockquote span {
    display: block;
    color: #333333;
    font-style: normal;
    font-weight: bold;
}

#expand-view {
    float: right;
    display: none;
}

#expand-view svg path {
    fill: white;
}

@media (min-width: 992px) {
    #expand-view {
        display: inline-flex;
    }
}

@media (print), (prefers-reduced-motion) {
    .animated {
        -webkit-animation: unset !important;
        animation: unset !important;
        -webkit-transition: none !important;
        transition: none !important;
    }
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes pulse {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    50% {
        -webkit-transform: scale3d(1.05, 1.05, 1.05);
        transform: scale3d(1.05, 1.05, 1.05);
    }

    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes pulse {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    50% {
        -webkit-transform: scale3d(1.05, 1.05, 1.05);
        transform: scale3d(1.05, 1.05, 1.05);
    }

    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

.pulse {
    -webkit-animation-name: pulse;
    animation-name: pulse;
}

#float-toc {
    position: fixed;
    bottom: 40px;
    right: 0;
    text-decoration: none;
    color: #000;
    background-color: #e9ecef;
    display: block;
    width: 50%;
    padding: 10px 20px;
    border: 1px solid grey;
    border-bottom: none;
    opacity: 1;
    z-index: 1;
}

.svg20 svg {
    height: 20px;
    width: 20px;
}

.youtube-embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}

.youtube-embed-container iframe, .youtube-embed-container object, .youtube-embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.breadcrumb-item + .breadcrumb-item::before {
    content: "➡️" !important;
    padding-right: 0 !important;;
}

.breadcrumb-item.active a {
    pointer-events: none;
    cursor: default;
    color: grey !important;
}

#footer {
    min-height: 40px;
    height: 30px;
    width: 100%;
    color: rgba(255, 255, 255, 0.5);
    position: fixed;
    bottom: 0;
}

#toggleStickyFooter {
    font-size: 26px;
    color: white;
    cursor: pointer;
}

#toggleTableOfContents {
    font-size: 26px;
    color: white;
    cursor: pointer;
}

#footer-credits{
    text-align: center;
    line-height:40px;
}

#website-stats-list {
    list-style: none;
    margin-left: -30px;
}

.stat_count {
    color: #efefef;
    font-size: 24px;
    font-weight: bold;
    border: 1px solid #efefef;
    padding: 5px 10px;
    text-align: center;
    margin-bottom: 10px;
}

.stat_count1 {
    background: #63474D;
}

.stat_count2 {
    background: #AA767C;
}

.stat_count3 {
    background: #D6A184;
}

.stat_count4 {
    background: #FFA686;
}

.stat_count5 {
    background: #FEC196;
}


span.normal-text {
    font-style: normal !important;
    display: inline !important;
}

.technology-img {
    height: 57px;
    width: 57px;
    background-color: #fff;
    border-radius: 3px;
    border: 1px solid #E6E6E6;
}


.share-bar {
    font-size: 16px;
    color: #dd4b39;
}

.share-bar h4 {
    margin-bottom: 10px;
    font-weight: 500;
}

.share-buttons a {
    color: #ffffff;
    line-height: 38px;
    font-size: 15px;
}

.share-buttons a:hover {
    border-bottom-style: none !important;
}

.share-button {
    margin: 0 3px 10px 0;
    padding: 5px 10px 5px 10px;
    border: 2px solid white;
}

.share-button:hover {
    border: 2px solid black;
}

.share-buttons a:hover {
    color: #ffffff;
    text-decoration: none;
}

.fa-facebook-official {
    background-color: #3b5998;
}

.fa-twitter {
    background-color: #55acee;
}

.fa-pinterest-p {
    background-color: #cb2027;
}

.fa-tumblr {
    background-color: #32506d;
}

.fa-reddit-alien {
    background-color: #ff4500;
}

.fa-linkedin {
    background-color: #007bb5;
}

.fa-envelope {
    background-color: #444444;
}

ul.accordion {

    list-style: none;
    padding: 0;

    .inner {
        padding-left: 1em;
        overflow: hidden;
        display: none;
    }

    p {
        font-size: 1.1em;
        margin: 1em 0;
    }

    li {
        margin: 0.5em 0;

        ul {
            list-style: none;
            padding: 0;
        }

        a.toggle {
            width: 100%;
            display: block;
            background: #e9ecef;
            color: #0d0d0d;
            padding: 0.75em;
            border-radius: 0.15em;
            transition: background 0.3s ease;

            &:hover {
                background: #dedfe0;
                border-bottom: none !important;
                color: black !important;
            }
        }

     }

    .description {
        margin: 1em auto 2.25em;
    }

}


/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

.mlm15 {
    margin-left: -15px !important;
}

.mgt10 {
    margin-top: 10px;
}


/* Mobile only */
@media (max-width: 767px) {
    #float-toc {
        bottom: 75px;
        width: 100%;
    }

    .breadcrumb {
        overflow-x: scroll !important;
        display: -webkit-box !important;
        display: -moz-box;
    }

    #toggleStickyFooter, #toggleTableOfContents {
        line-height: 70px;
        font-size: 30px;
    }

    #footer-credits{
        text-align: center;
        line-height: 24px;
        margin-top: 13px;
    }

    #footer{
        height: 75px;
    }
}







