{% include utilities/group-by-array.html collection=site.blogposts field="tags" %}

<div class="space-before" style="z-index: 0 !important;margin-top:10px;">
    <div class="card bg-white">
        <div class="card-body p-2">
            <div class="card-title">
                <h5>Filter Blog Posts by Tag:</h5>
            </div>
            {% for tag in group_names %}
                <a class="d-inline-block bg-white border rounded p-1 mr-1 mb-1 tag tag-{{ tag | slugify }}"
                   href="#{{tag | slugify}}">
                    {{ tag }}
                </a>
            {% endfor %}
        </div>
    </div>
</div>