{% include utilities/group-by-array.html collection=site.portfolio field="skills" %}

<div class="space-before" style="z-index: 0 !important;margin-top:10px;">
    <div class="card bg-white">
        <div class="card-body p-2">
            <div class="card-title">
                <h5 style="color:#000;font-weight:400;">Filter Work Portfolio by Skills:</h5>
            </div>
            {% for skill in group_names %}
                <a class="d-inline-block bg-white border rounded p-1 mr-1 mb-1 skill skill-{{ skill | slugify }}"
                   href="#{{ skill | slugify }}">
                    {{skill}}
                </a>
            {% endfor %}
        </div>
    </div>
</div>