{% include utilities/group-by-array.html collection=site.portfolio field="skills" %}

<ul class="accordion">
    <li>
        <a class="toggle" href="javascript:void(0);">
            Filter Website Portfolio Items by Skills: <span style="float:right;">▼</span>
        </a>
        <ul class="inner" style="display: none;">
            <li class="mlm15">
                {% for skill in group_names %}
                <a class="d-inline-block bg-white border rounded p-1 mr-1 mb-1 skill skill-{{ skill | slugify }}"
                   href="#{{ skill | slugify }}">
                    {{skill}}
                </a>
                {% endfor %}
            </li>
        </ul>
    </li>
</ul>