<div class="card-text" style="border: 1px dotted #888888;padding:20px;margin-bottom:20px;">
    <div class="profile-image-container">
        <a href="{{ site.baseurl }}">
            <img class="profile-image rounded-circle w-75 animated pulse" src="{{ site.baseurl }}{{ site.avatar }}"
                 title="Picture of Joel Murphy" alt="Picture of Joel Murphy"/>
        </a>
    </div>

    <h4 class="card-title" style="color:#000;font-weight:400;">{{site.name}}</h4>
    <div>{{site.role}}</div>
    <a href="https://www.google.co.uk/maps/place/Cardiff,Wales" target="_blank" class="d-block text-center" style="font-weight: 500;margin-top: 10px;">
        <i class="fas fa-map-marker" style="color: #c03144;"></i> Cardiff, Wales, UK
    </a>
    <br>
    <img src="{{ site.baseurl }}/static/img/php.png" alt="PHP Icon">
    <img src="{{ site.baseurl }}/static/img/html.png" alt="HTML Icon">
    <img src="{{ site.baseurl }}/static/img/js.png" alt="JS Icon">
    <img src="{{ site.baseurl }}/static/img/css.png" alt="CSS Icon">
    <a href="/about/technical-skills.html"
       style="font-family: Helvetica, Arial, sans-serif;border-radius: 25px;display:block;color:white!important;margin-top:10px; background: #553e98;padding:12px 10px;font-weight:600 !important;">
        See Joel's Full Skillset
    </a>
</div>

<div class="card-text" style="border: 1px dotted #888888;padding:20px;margin-bottom:20px;">
    <h5 style="color:#000;font-weight:400;"clo>💼 Current Job Role:</h5>
    <div>
        <img src="{{ site.baseurl }}/static/img/nhs_wales.png" alt="NHS NWIS Logo">
    </div>
    <p style="margin-top:10px;">Proudly working at the NHS to enhance their I.T systems with the aim of improving
        health-care across Wales.</p>
</div>
