<div style="border: 1px dotted #888888;padding:20px;">
    <h5 style="color:#000;font-weight:400;">🖇️ Joel's Social Media profiles:</h5>
    <p class="card-text">
        {% for link in site.data.profile %}
        <a href="{{link.href}}" target="_blank" class="d-flex align-items-center mb-1">
            <span class="icon grey mr-3">
                {% include {{link.icon}} %}
            </span>
            <span class="hover-underline-dashed">{{link.caption}}</span>
        </a>
        {% endfor %}
    </p>
</div>

<div>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- joel_murphy_leftnav -->
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-9259836823539954"
         data-ad-slot="2846768118"
         data-ad-format="auto"
         data-full-width-responsive="true"></ins>
    <script>
        $(document).ready(function(){(adsbygoogle = window.adsbygoogle || []).push({})})
    </script>
</div>