<div class="card-text" style="border: 1px dotted #888888;padding:20px;margin-bottom:20px;">
    <p class="card-text">
        <a href="{{site.baseurl}}{% link _pages/index.md %}">
            <img class="profile-image rounded-circle w-75 animated pulse" src="{{ site.baseurl }}{{ site.avatar }}"
                 title="Picture of Joel Murphy" alt="Picture of Joel Murphy"/>
        </a>
    </p>

    <h4 class="card-title" style="color:#000;font-weight:400;">{{site.name}}</h4>
    <div>{{site.role}}</div>
    <a href="https://www.google.co.uk/maps/place/Cardiff,Wales" target="_blank" class="d-block text-center">
        <span style="line-height:21px;">
            Cardiff, Wales, UK
        </span>
    </a>
    <br>
    <img src="{{ site.baseurl }}/static/img/php.png" alt="PHP Icon">
    <img src="{{ site.baseurl }}/static/img/html.png" alt="HTML Icon">
    <img src="{{ site.baseurl }}/static/img/js.png" alt="JS Icon">
    <img src="{{ site.baseurl }}/static/img/css.png" alt="CSS Icon">
    <a href="/about.html#technical-skills" style="color:white!important;">
        <p style="margin-top:10px; background: #343a40;padding:5px;">
            See Joel's full skillset
        </p>
    </a>
</div>

<div class="card-text" style="border: 1px dotted #888888;padding:20px;margin-bottom:20px;">
    <h5 style="color:#000;font-weight:400;">💼 Current Job Role:</h5>
    <div>
        <img src="{{ site.baseurl }}/static/img/nhs_wales.png" alt="NHS NWIS Logo">
    </div>
    <p style="margin-top:10px;">Proudly working at the NHS to enhance their I.T systems with the aim of improving
        health-care across Wales.</p>
</div>
