<p class="card-text d-none d-sm-block">
    <a href="{{site.baseurl}}{% link _pages/index.md %}">
        <img class="profile-image rounded-circle w-75 animated pulse" src="{{ site.baseurl }}{{ site.avatar }}" title="Picture of Joel Murphy" alt="Picture of Joel Murphy" />
    </a>
</p>

<p class="card-text d-xs-flex d-sm-none">
    <div style="border: 1px dotted #888888;padding:20px;margin-bottom:20px;">
        <h4 class="card-title d-none d-sm-block" style="color:#000;font-weight:400;">{{site.name}}</h4>
        <div>{{site.role}}</div>
        <a href="https://www.google.co.uk/maps/place/Cardiff,Wales" target="_blank" class="d-block text-center">
            <span class="icon pin">
                <!--?xml version="1.0" encoding="iso-8859-1"?-->
                <svg version="1.1" id="Location_pin" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                     x="0px" y="0px" viewBox="0 0 20 20" width="21" height="21" style="enable-background:new 0 0 20 20;" xml:space="preserve">
                <path d="M10,2.009c-2.762,0-5,2.229-5,4.99c0,4.774,5,11,5,11s5-6.227,5-11C15,4.239,12.762,2.009,10,2.009z M10,9.76
                    c-1.492,0-2.7-1.209-2.7-2.7s1.208-2.7,2.7-2.7c1.49,0,2.699,1.209,2.699,2.7S11.49,9.76,10,9.76z"></path>
                </svg>
            </span>
            <span style="line-height:21px;"> Cardiff, Wales, UK</span>
        </a>
        <br>
        <img src="{{ site.baseurl }}/static/img/php.png" alt="PHP Icon">
        <img src="{{ site.baseurl }}/static/img/html.png" alt="HTML Icon">
        <img src="{{ site.baseurl }}/static/img/js.png" alt="JS Icon">
        <img src="{{ site.baseurl }}/static/img/css.png" alt="CSS Icon">
        <a href="/about.html#technical-skills" style="color:white!important;">
            <p style="margin-top:10px; background: #343a40;padding:5px;">
                See Joel's full skillset
            </p>
        </a>
    </div>
    <div style="border: 1px dotted #888888;padding:20px;">
        <h5 style="color:#000;font-weight:400;">💼 Current Job Role:</h5>
        <div>
            <img src="{{ site.baseurl }}/static/img/nhs_wales.png" alt="NHS NWIS Logo">
        </div>
        <p style="margin-top:10px;">Proudly working at the NHS to enhance their I.T systems with the aim of improving
            health-care across Wales.</p>
    </div>
</p>