<div style="border: 1px dotted #888888;padding:20px;">
    <h5 style="color:#000;font-weight:400;">🖇️ Joel's Social Media profiles:</h5>
    <p>Joel elsewhere on the internet:</p>
    <p class="card-text">
        {% for link in site.data.profile %}
        <a href="{{link.href}}" target="_blank" class="d-flex align-items-center mb-1">
            <span class="icon grey mr-3">
                {% include {{link.icon}} %}
            </span>
            <span class="hover-underline-dashed">{{link.caption}}</span>
        </a>
        {% endfor %}
    </p>
    <a href="https://stackoverflow.com/users/1007680/joel-murphy" style="margin: 10px auto;">
        <img src="https://stackoverflow.com/users/flair/1007680.png"
             alt="Profile for Joel Murphy at Stack Overflow, Q&amp;A for professional and enthusiast programmers"
             title="Profile for Joel Murphy at Stack Overflow, Q&amp;A for professional and enthusiast programmers"
             class="img-fluid"
        >
    </a>
</div>