<!DOCTYPE html>
<html lang="en">

{% include structure/head.html %}

<body>
{% include bars/nav.html %}

{% capture col1 %}{% if page.narrow %}3{% else %}4{% endif %}{% endcapture %}
{% capture col2 %}{% if page.narrow %}9{% else %}8{% endif %}{% endcapture %}

<div class="container site-container" id="top">
    <div class="row">
        <div class="d-none d-lg-block col-lg-4 col-xl-{{ col1 }} side" id="side">
            {% include bars/side.html %}
            <div class="card bg-white" style="margin-top:10px;">

                <div class="card-body text-center">
                    <a class="typeform-share button" href="https://joelmurphy1.typeform.com/to/ZdvAbr" data-mode="popup"
                       style="display:inline-block;text-decoration:none;background-color:#267DDD;color:white;cursor:pointer;font-family:Helvetica,Arial,sans-serif;font-size:20px;line-height:50px;text-align:center;margin:0;height:50px;padding:0px 33px;border-radius:25px;max-width:100%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;font-weight:bold;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;"
                       data-submit-close-delay="5" target="_blank">Contact Joel</a>
                    <script> (function () {
                        var qs, js, q, s, d = document, gi = d.getElementById, ce = d.createElement,
                            gt = d.getElementsByTagName, id = "typef_orm_share", b = "https://embed.typeform.com/";
                        if (!gi.call(d, id)) {
                            js = ce.call(d, "script");
                            js.id = id;
                            js.src = b + "embed.js";
                            q = gt.call(d, "script")[0];
                            q.parentNode.insertBefore(js, q)
                        }
                    })() </script>
                </div>
            </div>
            <div class="card bg-white" style="margin-top:10px;">
                <a href="https://stackoverflow.com/users/1007680/joel-murphy" style="margin: 10px auto;">
                    <img src="https://stackoverflow.com/users/flair/1007680.png" width="208" height="58"
                         alt="profile for Joel Murphy at Stack Overflow, Q&amp;A for professional and enthusiast programmers"
                         title="profile for Joel Murphy at Stack Overflow, Q&amp;A for professional and enthusiast programmers">
                </a>
            </div>
            <div class="card bg-white" style="margin-top:10px;">
                <div class="card-body">
                    <div style="border: 1px dotted #888888;padding:20px;">
                        <h4 class="card-title d-none d-sm-block text-center" style="color:#000;font-weight:400;">📈
                            Website Statistics:</h4>

                        {% assign blog_counter = 0 %}
                        {% for item in site.blogposts %}
                        {% unless item.published == false %}
                        {% assign blog_counter=blog_counter | plus:1 %}
                        {% endunless %}
                        {% endfor %}

                        {% assign tutorial_counter = 0 %}
                        {% for item in site.tutorials %}
                        {% unless item.published == false %}
                        {% assign tutorial_counter=tutorial_counter | plus:1 %}
                        {% endunless %}
                        {% endfor %}

                        {% assign portfolio_counter = 0 %}
                        {% for item in site.portfolio %}
                        {% unless item.published == false %}
                        {% assign portfolio_counter=portfolio_counter | plus:1 %}
                        {% endunless %}
                        {% endfor %}

                        {% assign moneysaving_counter = 0 %}
                        {% for item in site.money_savings %}
                        {% unless item.published == false %}
                        {% assign moneysaving_counter=moneysaving_counter | plus:1 %}
                        {% endunless %}
                        {% endfor %}

                        <ul id="website-stats-list">
                            <li>
                                Published Blog Posts: <br>
                                <div class="stat_count stat_count1">{{ blog_counter }}</div>
                            </li>
                            <li>
                                Published Tutorials: <br>
                                <div class="stat_count stat_count2">{{ tutorial_counter }}</div>
                            </li>
                            <li>
                                Published Work Portfolio Items: <br>
                                <div class="stat_count stat_count3">{{ portfolio_counter }}</div>
                            </li>
                            <li>
                                Published Money Saving Posts: <br>
                                <div class="stat_count stat_count4">{{ moneysaving_counter }}</div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="card bg-white" style="margin-top:10px;">
                <div class="card-body">
                    <div style="border: 1px dotted #888888;padding:20px;">
                        <h4 class="card-title d-none d-sm-block text-center" style="color:#000;font-weight:400;">🔗
                            Useful links:</h4>
                        <ul>
                            <li>
                                <a href="/disclaimer.html">Disclaimer</a>
                            </li>
                            <li>
                                <a href="/credits.html">Credits</a>
                            </li>
                            <li>
                                <a href="/cookie-policy.html">Cookie Policy</a>
                            </li>
                            <li>
                                <a href="https://trello.com/b/6MTwpOKh/joel-murphy-website-project-management-board"
                                   target="_blank">Website Project Management</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-lg-8 col-xl-{{ col2 }} pb-4 content" id="content">
            <div class="card bg-white">
                <div class="card-body">
                    {{ content }}
                </div>
            </div>
        </div>
        <div class="col-md-12 d-lg-none bottom">
            {% include bars/bottom.html %}
        </div>
    </div>
</div>

<footer id="footer">
    <div class="row" style="line-height:40px;margin-left:auto;margin-right:auto;">
        <div class="col-sm-1">
            <p id="toggleStickyFooter" style="float:left;font-size: 27px;color: white;cursor:pointer;" title="Toggle pinned footer">⬇</p>
        </div>
        <div class="col-sm-10">
            <div style="text-align: center;">
                &copy; Joel Murphy 2012 - {{ "now" | date: "%Y" }}.
                <a href="https://github.com/jjmpsp/jjmpsp.github.io">This website is open
                    source</a>.
                Content was last updated on:
                {% assign d = site.lastUpdated | date: "%-d" %}
                {{ site.lastUpdated | date: "%B" }}
                {% case d %}{% when "1" or "21" or "31" %}{{ d }}st{% when "2" or "22" %}{{ d }}nd{% when "3" or "23" %}{{ d
                }}rd{% else %}{{ d }}th{% endcase %},
                {{ site.lastUpdated | date: "%Y" }}
                🕗
            </div>
        </div>
        <div class="col-sm-1">
            <p id="toggleTableOfContents" style="float:right;font-size: 27px;color: white;cursor:pointer;" title="Toggle Table Of Contents">⬇</p>
        </div>
    </div>
</footer>

<script>
    // TODO: Move this function somewhere else
    jQuery.fn.clickToggle = function (a, b) {
        function cb() {
            [b, a][this._tog ^= 1].call(this);
        }

        return this.on("click", cb);
    };

    $(document).ready(function () {
        $("#toggleStickyFooter").clickToggle(
            function () {
                $(this).text("⬆");
                $("#footer").css("position", "relative");
            },
            function () {
                $(this).text("⬇");
                $("#footer").css("position", "fixed");
            }
        );

        $("#toggleTableOfContents").clickToggle(
            function(){
                $(this).text("⬆");
                $("#float-toc").hide();
            },
            function(){
                $(this).text("⬇");
                $("#float-toc").show();
            }
        );
    });
</script>

<div class="eupopup eupopup-bottom eupopup-style-compact"></div>

<link href="{{ site.baseurl }}/static/css/jquery-eu-cookie-law-popup.css" rel="stylesheet">
<script src="{{ site.baseurl }}/static/js/js.cookie.min.js"></script>
<script src="{{ site.baseurl }}/static/js/jquery-eu-cookie-law-popup.js"></script>

<script>
    $(document).ready(function () {
        var expandViewToggled = false;
        $("#expand-view").click(function () {

            if (!expandViewToggled) {
                $("#side").attr('style', 'display:none !important');
                $("#content").addClass('col-xs-12 col-md-12 col-lg-12 col-xl-12');
                expandViewToggled = true;
            } else {
                $("#side").removeAttr('style');
                $("#content").removeClass('col-xs-12 col-md-12 col-lg-12 col-xl-12');
                expandViewToggled = false;
            }
        });

        var target = $('#float-toc');
        var scrollbar = $("#scroll-value");

        $(document).scroll(function (e) {
            var scrollPercent = 100 * $(window).scrollTop() / ($(document).height() - $(window).height());
            //var opacityPercent = (scrollPercent / 100).toFixed(2);
            //target.css('opacity', opacityPercent);
            scrollbar.css("width", scrollPercent + "%");
        });
    });
</script>

<script type="text/javascript">
    /*!
     * IE10 viewport hack for Surface/desktop Windows 8 bug
     * Copyright 2014-2017 The Bootstrap Authors
     * Copyright 2014-2017 Twitter, Inc.
     * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
     */

    // See the Getting Started docs for more information:
    // https://getbootstrap.com/getting-started/#support-ie10-width

    (function () {
        'use strict';

        if (navigator.userAgent.match(/IEMobile\/10\.0/)) {
            var msViewportStyle = document.createElement('style');
            msViewportStyle.appendChild(
                document.createTextNode(
                    '@-ms-viewport{width:auto!important}'
                )
            );
            document.head.appendChild(msViewportStyle);
        }
    }())
</script>

<script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "Person",
        "email": "mailto:contact@joel-murphy.co.uk",
        "image": "/static/img/joel-murphy.jpg",
        "jobTitle": "Senior Full Stack PHP Developer",
        "name": "Joel Murphy",
        "birthPlace": "Cardiff, Wales, UK",
        "birthDate": "1993.12.28",
        "height": "67 inches",
        "gender": "male",
        "memberOf": "Labour Party",
        "nationality": "British Welsh",
        "url": "https://joel-murphy.co.uk/",
        "sameAs": [
            "https://www.facebook.com/joel.murphy.378",
            "https://www.linkedin.com/in/joeljmurphy/",
            "https://www.twitter.com/jjmpsp"
        ]
    }
</script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-38507708-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }

    gtag('js', new Date());
    gtag('config', 'UA-38507708-1');
</script>
</body>

</html>
