<!DOCTYPE html>
<html lang="en">

{% include structure/head.html %}

<body>
{% include bars/nav.html %}

{% capture col1 %}{% if page.narrow %}3{% else %}4{% endif %}{% endcapture %}
{% capture col2 %}{% if page.narrow %}9{% else %}8{% endif %}{% endcapture %}

<main class="container" id="site-container">
    <div class="row">
        <article class="col-lg-8 col-xl-{{ col2 }} col-md-8 col-sm-8 col-xs-12 pb-4 order-sm-last content" id="content">
            <div class="card bg-white">
                <div class="card-body">
                    {{ content }}
                </div>
            </div>
        </article>
        <aside class="col-lg-4 col-xl-{{ col1 }} col-md-4 col-sm-4 col-xs-12 order-sm-first side" id="side">
            {% include bars/side.html %}
            <div class="card bg-white mgt10">

                <div class="card-body text-center mgt10">
                    <a class="typeform-share button" href="https://joelmurphy1.typeform.com/to/ZdvAbr" data-mode="popup"
                       data-submit-close-delay="5"
                       target="_blank">
                        Contact Joel
                    </a>
                    <script> (function () {
                        var qs, js, q, s, d = document, gi = d.getElementById, ce = d.createElement,
                            gt = d.getElementsByTagName, id = "typef_orm_share", b = "https://embed.typeform.com/";
                        if (!gi.call(d, id)) {
                            js = ce.call(d, "script");
                            js.id = id;
                            js.src = b + "embed.js";
                            q = gt.call(d, "script")[0];
                            q.parentNode.insertBefore(js, q)
                        }
                    })() </script>
                </div>
            </div>
            <div class="card bg-white mgt10">
                <a href="https://stackoverflow.com/users/1007680/joel-murphy" style="margin: 10px auto;">
                    <img src="https://stackoverflow.com/users/flair/1007680.png" width="208" height="58"
                         alt="profile for Joel Murphy at Stack Overflow, Q&amp;A for professional and enthusiast programmers"
                         title="profile for Joel Murphy at Stack Overflow, Q&amp;A for professional and enthusiast programmers">
                </a>
            </div>
            <div class="card bg-white mgt10">
                <div class="card-body">
                    <div style="border: 1px dotted #888888;padding:20px;">
                        <h4 class="card-title d-none d-sm-block text-center" style="color:#000;font-weight:400;">📈
                            Website Statistics:</h4>

                        {% assign blog_counter = 0 %}
                        {% for item in site.blogposts %}
                        {% unless item.published == false %}
                        {% assign blog_counter=blog_counter | plus:1 %}
                        {% endunless %}
                        {% endfor %}

                        {% assign tutorial_counter = 0 %}
                        {% for item in site.tutorials %}
                        {% unless item.published == false %}
                        {% assign tutorial_counter=tutorial_counter | plus:1 %}
                        {% endunless %}
                        {% endfor %}

                        {% assign portfolio_counter = 0 %}
                        {% for item in site.portfolio %}
                        {% unless item.published == false %}
                        {% assign portfolio_counter=portfolio_counter | plus:1 %}
                        {% endunless %}
                        {% endfor %}

                        {% assign moneysaving_counter = 0 %}
                        {% for item in site.money_savings %}
                        {% unless item.published == false %}
                        {% assign moneysaving_counter=moneysaving_counter | plus:1 %}
                        {% endunless %}
                        {% endfor %}

                        <ul id="website-stats-list">
                            <li>
                                <a href="">Published Blog Posts:</a> <br>
                                <div class="stat_count stat_count1">{{ blog_counter }}</div>
                            </li>
                            <li>
                                <a href="">Published Tutorials:</a> <br>
                                <div class="stat_count stat_count2">{{ tutorial_counter }}</div>
                            </li>
                            <li>
                                <a href="">Published Work Portfolio Items:</a> <br>
                                <div class="stat_count stat_count3">{{ portfolio_counter }}</div>
                            </li>
                            <li>
                                <a href="">Published Money Saving Posts:</a> <br>
                                <div class="stat_count stat_count4">{{ moneysaving_counter }}</div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="card bg-white mgt10">
                <div class="card-body">
                    <div style="border: 1px dotted #888888;padding:20px;">
                        <h4 class="card-title d-none d-sm-block text-center" style="color:#000;font-weight:400;">🔗
                            Useful links:</h4>
                        <ul>
                            <li>
                                <a href="/disclaimer.html">Disclaimer</a>
                            </li>
                            <li>
                                <a href="/credits.html">Credits</a>
                            </li>
                            <li>
                                <a href="/cookie-policy.html">Cookie Policy</a>
                            </li>
                            <li>
                                <a href="https://trello.com/b/6MTwpOKh/joel-murphy-website-project-management-board"
                                   target="_blank">Website Project Management</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </aside>
    </div>
</main>

<footer id="footer" class="bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-2 col-md-1">
                <span id="toggleStickyFooter" title="Toggle pinned footer">⬇</span>
            </div>
            <div class="col-8 col-md-10">
                <div id="footer-credits">
                    &copy; Joel Murphy 2012 - {{ "now" | date: "%Y" }}.
                    <a href="https://github.com/jjmpsp/jjmpsp.github.io">This website is open
                        source</a>.
                    Last update:
                    <date>{% assign d = site.lastUpdated | date: "%-d" %}
                    {{ site.lastUpdated | date: "%B" }}
                    {% case d %}{% when "1" or "21" or "31" %}{{ d }}st{% when "2" or "22" %}{{ d }}nd{% when "3" or
                    "23" %}{{ d }}rd{% else %}{{ d }}th{% endcase %}, {{ site.lastUpdated | date: "%Y" }} </date> 🕗
                </div>
            </div>
            <div class="col-2 col-md-1">
                <span id="toggleTableOfContents" title="Toggle Table Of Contents">⬇</span>
            </div>
        </div>
    </div>
</footer>

<div class="eupopup eupopup-bottom eupopup-style-compact"></div>

<script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "Person",
        "email": "mailto:contact@joel-murphy.co.uk",
        "image": "/static/img/joel-murphy.jpg",
        "jobTitle": "Senior Full Stack PHP Developer",
        "name": "Joel Murphy",
        "birthPlace": "Cardiff, Wales, UK",
        "birthDate": "1993.12.28",
        "height": "67 inches",
        "gender": "male",
        "memberOf": "Labour Party",
        "nationality": "British Welsh",
        "url": "https://joel-murphy.co.uk/",
        "sameAs": [
            "https://www.facebook.com/joel.murphy.378",
            "https://www.linkedin.com/in/joeljmurphy/",
            "https://www.twitter.com/jjmpsp"
        ]
    }
</script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-38507708-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }

    gtag('js', new Date());
    gtag('config', 'UA-38507708-1');
</script>
</body>

</html>
