<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top justify-content-between">
        <div id="scroll-value-container">
            <div id="scroll-value"></div>
        </div>
        <a class="navbar-brand font-weight-bold" href="{{ site.baseurl }}{% link _pages/index.md %}">💡💻 {{site.name}}
            💻💡</a>
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarContent">
            <svg class="ham hamRotate ham4" viewBox="0 0 100 100" width="80" onclick="this.classList.toggle('active')">
                <path class="line top"
                      d="m 70,33 h -40 c 0,0 -8.5,-0.149796 -8.5,8.5 0,8.649796 8.5,8.5 8.5,8.5 h 20 v -20">
                </path>
                <path class="line middle"
                      d="m 70,50 h -40">
                </path>
                <path class="line bottom"
                      d="m 30,67 h 40 c 0,0 8.5,0.149796 8.5,-8.5 0,-8.649796 -8.5,-8.5 -8.5,-8.5 h -20 v 20">
                </path>
            </svg>
        </button>
        <div class="collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav ml-auto">
                {% for item in site.data.nav %}
                <li class="nav-item">
                    <a href='{% if item.href contains ":" %}{% else %}{{ site.baseurl }}/{% endif %}{{ item.href }}'
                       class="nav-link">
                        {{ item.title }}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </nav>
</header>