{% if page.show_profile %}
    <div class="card bg-white">
        <div class="card-body text-center">
            {{site.author.name}}
            {% include components/profile-avatar.html %}

            <a href="{{ site.baseurl }}/list/money-saving.html">
                <img class="img-responsive" style="width:100%;margin-bottom: 15px;" src="{{ site.baseurl }}/static/img/money-saving-tips-banner.png" alt="Money Saving Tips by Joel">
            </a>

            <a href="{{ site.baseurl }}/list/product-reviews.html">
                <img class="img-responsive" style="width:100%;margin-bottom: 15px;" src="{{ site.baseurl }}/static/img/product-reviews-banner.png" alt="Product Reviews by Joel">
            </a>

            {% include components/profile-body.html %}
        </div>
    </div>
{% endif %}

{% if page.show_tags %}
    {% include components/all-tags.html %}
{% endif %}

{% if page.show_skills %}
    {% include components/all-skills.html %}
{% endif %}

{% if page.path contains '_projects' %}
    {% include components/project-meta.html %}
{% endif %}

{% if page.path contains '_posts' %}
    {% include components/post-meta.html %}
{% endif %}

{% if page.path contains '_portfolio' %}
    {% include components/portfolio-meta.html %}
{% endif %}
