{% if page.show_profile %}
    <div class="card bg-white">
        <div class="card-body text-center">
            {{site.author.name}}
            {% include components/profile-avatar.html %}

            <a href="{{ site.baseurl }}/money-saving/">
                <img class="img-responsive ad-block" src="{{ site.baseurl }}/static/img/money-saving-tips-banner.png" alt="Money Saving Tips by Joel">
            </a>

            <a href="{{ site.baseurl }}/product-reviews/">
                <img class="img-responsive ad-block" src="{{ site.baseurl }}/static/img/product-reviews-banner.png" alt="Product Reviews by Joel">
            </a>

            {% include components/profile-body.html %}
        </div>
    </div>
{% endif %}

{% if page.path contains '_projects' %}
    {% include components/project-meta.html %}
{% endif %}

{% if page.path contains '_posts' %}
    {% include components/post-meta.html %}
{% endif %}

{% if page.path contains '_portfolio' %}
    {% include components/portfolio-meta.html %}
{% endif %}
